html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  background-color: #f0f9ff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
li,.icon {
  padding: 5px;
}
body{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  height: 90vh;
  width: 80vw;
  border: 10px solid #0c4a6e;
  border-radius: 5%;
  overflow: auto;

}
.header{
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 0 1rem;
  background-color: #f0f9ff;
}
.sidebar{
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  background-color: #0c4a6e;
  color: white;
}
.content{
  grid-column: 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 0.5rem 0 1rem 0;
  background-color: #e0f2fe;
}
.projects_container, .announces_container, .trends_container{
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 1rem;
}
.projects_container{
  grid-area: 1 / 1 / 3 / 2;
}
.projects{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-gap: 1rem;
}
.project{
  background-color: lightgrey;
}
.announces, .trends{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.announces .announce, .trends .trend{
  flex: 1;
  background-color: lightgrey;
}
.top_header, .bot_header{
  display: flex;
  align-items: center;
}
.top_header>input{
  width: 50%;
}
.bot_header{
  margin-bottom: 1rem;
}
.btns{
  display: flex;
  margin-left: auto;
}
.btns * {
  margin: 0.5rem;
}